body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    min-width: 400px; /* Set a minimum width for the popup */
}

h1 {
    color: #5a5a5a;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1; /* Allow input to fill space */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better readability */
}

button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px; /* Add more horizontal padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Increase font size for better readability */
}

button:hover {
    background-color: #005f8a;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

li {
    background-color: #fff;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li span {
    max-width: 70%; /* Allow some space for the delete button */
    word-break: break-word; /* Ensure long words do not overflow */
}

input[type="checkbox"] {
    margin-right: 15px;
}

.deleteBtn {
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #c53b2c;
}
